<div id="table-card-{{ table.number }}"
     class="card bg-base-100 shadow-md hover:shadow-xl transition-all duration-300 transform hover:-translate-y-1 cursor-pointer border-2 {% if table.is_occupied %}border-error{% else %}border-transparent{% endif %}"
     hx-get="/caisse/table/{{ table.number }}"
     hx-target="#modal-container"
     hx-swap="innerHTML"
     onclick="table_modal.showModal()">
    
    <div class="card-body items-center text-center p-6">
        <div class="w-16 h-16 rounded-full flex items-center justify-center text-xl font-bold mb-2 {% if table.is_occupied %}bg-error/20 text-error{% else %}bg-success/20 text-success{% endif %}">
            T-{{ table.number }}
        </div>
        
        <h2 class="card-title text-base">Table {{ table.number }}</h2>
    </div>
</div>